<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akj.dropby">
    <!-- 현재 위치를 위한 권한 요청 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dropby"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity">

            </activity>
        <activity
            android:name=".AddActivity"
            android:exported="true"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PublicPage"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 구글 클라우드 플랫폼에서 발급받은 API 키를 여기에 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB5IISaF7hHqvGqH2GGsD9GzXp5zV93OA0" /> <!-- 구글 플레이 서비스 버전을 적는 곳으로 그대로 타이핑 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- 안드로이드 파이 버전부터 필요 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>